{% extends 'servicies/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main_info %}
<div class="main-text container">
        <div class="row heading justify-content-center"><h2>Страница с услугами</h2></div>
            <div class="param row m-3">
                <div class="col text-center">
                    <h5>Быстро</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </div>
                <div class="col text-center">
                    <h5>Дешево</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </div>
                <div class="col text-center">
                    <h5>Качественно</h5>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
                </div>
            </div>
        </div>
</div>
{% endblock %}