{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'servicies/style.css'%}">
</head>
<body class="bg-dark">
  <header >
    <div class="header d-flex-row justify-content-between w-100">
        <div class="logo m-3 text-white">
            <a href="{% url 'main' %}" class="btn1 text-white"><h1>Simpy</h1></a>
        </div>
        <div class="gap">
        </div>
        <div class="menu d-inline-flex">
            <a href="{% url 'uslugi' %}" class="services text-white m-2">Услуги</a>
            <a href="#" class="contacts text-white m-2">Контакты</a>
            <a href="#" class="about_us text-white m-2">Про нас</a>
        </div>
    </div>
  </header>
  <main class="w-100">
    <div class="main bg-secondary m-5 ">
        {%block main_info %}{% endblock %}
    </div>
  </main>
</body>
</html>